*{
    margin: 0;
    padding: 0;
}

.centrar{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    border: white 2px solid;
}

header{
    width: 100%;
    height: 150px;
}

.main-padre{
    display: flex;
    width: 100%;
    height: 350px;
}

.main-padre main{
    width: 70%;
}

aside{
    width: 30%;
}

footer{
    height: 150px;
}
