.banner{
    height: 430px;
    width: 100%;
    color:green;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 50% 50%;
    border-radius: 1rem;
    background-color: white;
}

.test{
    border: solid red 1px;
}

.banner-info{
    background-color: green;
    border-radius: 10px 0 0 10px;
    padding: 5rem 1rem 1rem 5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.open-sans{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.open-sans-drakblue{
    color: white;
    font-weight: 700;
}

.banner-button{
    padding: 1rem 2rem;
    width: 50%;
    height: 20%;
    border-radius: 2rem;
    background-color: aliceblue;
    font-size: 1rem;
    border: none;    
}

.banner-new2{
    
}